@model AdminPrototypTest.Models.BookingsModel
@{
    ViewBag.Title = "Detaljer";
}

<h2>Detaljer</h2>

<table class="table table-striped">
    <tr>
        <th>Boknings id</th>
        <th>Event id</th>
        <th>Host id</th>
        <th>Start datum och tid</th>
        <th>Pris</th>
        <th>Användar id</th>
        <th>Användartyp</th>
    </tr>

        <tr>
            <td>@Html.DisplayFor(m => Model.Booking_Id)</td>
            <td>@Html.DisplayFor(m => Model.Event_Id)</td>
            <td>@Html.DisplayFor(m => Model.Event_Host_Id)</td>
            <td>@Html.DisplayFor(m => Model.Event_Start_Date_Time)</td>
            <td>@Html.DisplayFor(m => Model.Booking_Price)</td>
            <td>@Html.DisplayFor(m => Model.User_Id)</td>
            <td>@Html.DisplayFor(m => Model.User_Type)</td>
        </tr>

</table>

<h3>@Html.ActionLink("Gå tillbaks", "Index", "Home")</h3>